.wrapper-addedProduct{
    margin: 10px 100px;
}
.addedProduct-title{
    font-size: 21px;
}
.addedProduct-form{
    // background-color: aqua;
    // margin-left: 300px;
    padding: 20px;
    width: 800px;
}
.addedProduct-form__item{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.addedProduct-form__item input{
    // border: 1px solid black;
    background-color: rgb(244, 234, 221);
    border-radius: 20px;
    height: 30px;
   padding-left: 15px;
}
.btn-form{
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
}