.about_wrapper {
    width: 80%;
    margin: 0 7%;
    margin-top: -100px;
    padding: 10px 0;
    padding-bottom: 6%;

}

.about_title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 4%;

}

.about_text {
    font-size: 20px;
    word-spacing: 5px;
}

.about_introduction {
    margin: 1% 0;


}
.about_part{
    font-weight: 600;
    margin: 0;
    padding: 0;

}