.infoBl_info_type{
    // background-color: aqua;  
}
.container_infoBl_info{
    width: 75%;
    margin: 0 auto;
    margin-top: -60px;
    // background-color: aqua;
}
.infoBl_info_title{
    font-size: 28px;
    margin: 40px 40px;
    margin-left: 10%;
    font-weight: 600;
}

.infoBl_info_text{
    font-size: 18px;
    margin: 30px 6%;
    width: 90%;
}
.infoBl_info_desc{
    background-color: rgb(84, 214, 237);
    border-radius: 5px 30px;
    padding: 10px;
    width: 55%;
    font-size: 18px;
    // margin: 20px;
    margin-left: 6%;
}
.infoBl_info_dost{
    width: 60%;
    // height: 70%;
    font-size: 18px;
    margin: 20px 0;
    margin-left: 35%;
    background-color: rgb(252, 175, 75);
    padding: 20px;
    border-radius:  40px 5px;
    // border-radius:  100px;
}
.text_span_bolt{
    font-weight: 600;
}
.infoBl_info_dost-second{
    width: 60%;
    // height: 70%;
    font-size: 18px;
    margin: 20px 0;
    margin-left: 6%;
    background-color: rgb(252, 175, 75);
    padding: 20px;
    border-radius: 5px 40px ;
}
.infoBl_info_dost_title{
    font-size: 20px;
    font-weight: 600;
}
.infoBl_info_dost_span{
    font-weight: 600;
}
.infoBl_info_def{
    font-size: 18px;
    margin: 20px 0;
    // margin-left: 10%;
}
.infoBl_info_nodost{
    background-color: rgb(196, 188, 188);
    border-radius: 5px 30px;
    padding: 10px;
    width: 55%;
    font-size: 18px; 
    margin-left: 6%;
}