@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Raleway:ital,wght@0,500;1,400;1,500;1,600&display=swap');


html, body{
    font-family: var(--font-main);
    color: var(--textColor);

}
body{
    /* padding-bottom: 50vh; */
}

.container{
    max-width: 1310px;
    padding: 0 0px;
    margin: 0 auto;
}
.container-small{
    max-width: 1094px;
}
.none{
    display: none !important;
}