:root{
    --textColor: #1e1e1e;
    --text-muted: #8D8D8D;
    --text-card-dark-blue: #0D1B39;
    --text-card-nodark-blue: #162648;

    --accent: #E58411;
    --btn-accent: #e8942e;


   
    --header-text-color: #ffff;
    
    --bg-btn-dark-blue: #182643;
    --bg-btn: #2D2F33;
    --bg-dark-blue: #0D1B39;
   

    --ui-orange: #d97c0b;
    --ui-biruza: #00D6C9;
    --ui-gray:#7C7C7C;
    --ui-dark-blue: #0D1B39;

    --footer-bg: #2D2F33;
    --footer-text-color: #c1bfbf;

    --font-main: 'Gilroy', sans-serif;
    --font-cards: 'Inter', sans-serif;
    --font-footer-accent: "DM Sans", sans-serif;

}